{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron text-capitalize text-center">
        <h1>Camping de l'espadrille volante</h1>
        <h2>*** au guide des glacières et parasols</h2>
        <h3>Formulaire de réservation</h3>
    </div>

    <div>
        <h4>Mon compte</h4>
        <p>Mon prénom : {{ user.firstname }}</p>
        <p>Mon nom : {{ user.lastname }}</p>
        <p>Mon email : {{ user.email }}</p>
        <p>Mon rôle : {{ user.role }}</p>
        <p>Mon mot de passe : {{ user.password }}</p>

        <div class="text-center">
            {# <form action="{{ path('deluser', {id: user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous certain ?')" >    
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button class="btn btn-outline-danger btn-sm">Supprimer</button>
            </form> #}

            {# <form action="{{ path('delbook', {id : user.id}) }}"
                      method="post" onsubmit="return confirm('ëtes-vous certains ?')">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}"/>
                    <input type="submit" value="del" class="btn btn-danger btn-sm"/>
            </form> #}
        </div>
        
    </div>

{% endblock %}