{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron text-capitalize text-center">
        <h1>Camping de l'espadrille volante</h1>
        <h2>*** au guide des glacières et parasols</h2>
        <h3>Accueil</h3>
    </div>


{# ################# Menu de navigation ################# #}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tarifs">Tarifs</a>
        </li>
      </ul>
      <button type="button" class="btn btn-secondary">Connexion</button>
    </div>
  </div>
</nav>


{# ################# Formulaire de réservation ################# #}
{# 
<div class="col">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.firstname) }}</div>
        <div class="col-6">{{ form_row(form.lastname) }}</div>
    </div>
    
    <div class="row">
        <div class="col-4">{{ form_row(form.email) }}</div>
        <div class="col-4">{{ form_row(form.role) }}</div>
        <div class="col-4">{{ form_row(form.password) }}</div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
 #}

{% endblock %}