{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron text-capitalize text-center">
        <h1>Camping de l'espadrille volante</h1>
        <h2>*** au guide des glacières et parasols</h2>
        <h3>Résultats</h3>
    </div>

{% endblock %}