{% extends "base.html.twig" %}

{% block body %}

<div class="col">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.firstname) }}</div>
        <div class="col-6">{{ form_row(form.lastname) }}</div>
    </div>
    
    <div class="row">
        <div class="col-4">{{ form_row(form.email) }}</div>
        <div class="col-4">{{ form_row(form.role) }}</div>
        <div class="col-4">{{ form_row(form.password) }}</div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}